{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>My name is Prakash Chater. I am a Python developer and a learner. I had done my graduation in 2020 and now I'm working as a freelancer</p>
        <p>I had done my Bachelor's degree with the specialization in Electronics and Communication and now I'm doing python development.</p>
        <p>Here I just writing my thoughts and some of my life experiences that I want to share with you all people.</p>
        <p>You can also comment about my thoughts moreover I am not judgemental so comment your heart out.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}